


$header-height: 75px
$footer-height: 75px

$f: $footer-height + $header-height

html, body
  padding: 0px
  margin: 0px
  font-family: sans-serif

.header, .footer
  background: #02315a
  width: 100%

.footer
  display: flex
  height: $footer-height
  color: transparentize(white, .1)
  justify-content: center
  align-items: center
  font-size: 18px

.header
  height: $header-height
  position: fixed
  top: 0px
  display: flex
  align-items: center
  .description
    .first-line, .second-line
      color: transparentize(white, .1)
      font-size: 12px

  .logo-wrapper
    margin-left: 12.5px
    margin-right: 12.5px
    .logo-placeholder
      position: relative
      height: 50px
      width: 50px
      background: white
      .logo-text
        position: absolute
        bottom: 0px
        right: 7px
        font-weight: bold



.content
  display: flex
  align-items: center
  justify-content: center
  margin-top: $header-height
  background: lighten(#02315a, 50%)
  width: 100%
  height: calc(100vh - 150px)
  .login
    flex-wrap: wrap
    background:
    width: 300px
    display: flex
    justify-content: center
    .username, .password, .Connect
      text-align: center
      height: 30px
      width: 220px
    .username
      margin-bottom: 10px
    .password
      margin-bottom: 15px
    .Connect
          margin-bottom: 25px
          width: 190px
          background-color: lighten(#02315a, 50%)
          border-radius: 10px


    .Help, .passchange
      margin-top: 25px
      font-size: 12px
    .Help
      margin-left: 50px
    .passchange

.LangPaper
  width: 300px
  background: lighten(#02315a, 50%)

.LangMenu
  display: flex
  align-items: center
  .LangMenuItem
    width: 300px
    text-align: center
