<<<<<<< HEAD
@import "./tchemou.sass"

=======

@import "./grid.sass"
>>>>>>> fb56d44733715d0a6bdded4e39b1d43e5ae6d8e9

$header-height: 75px
$footer-height: 20px

$f: $footer-height + $header-height

.root
  width: 100%

html, body
  padding: 0px
  margin: 0px
  font-family: sans-serif

.header, .footer
  background: #02315a
  width: 100%

.footer
  display: flex
  height: $footer-height
  color: transparentize(white, .1)
  justify-content: center
  align-items: center
  font-size: 10px

.content
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: calc(100% - 64px - 20px)
  .login
    flex-wrap: wrap
    width: 300px
    display: flex
    justify-content: center
    .username, .password, .Connect
      text-align: center
      height: 30px
      width: 220px
    .username
      margin-bottom: 10px
    .password
      margin-bottom: 15px
    .Connect
          margin-bottom: 25px
          width: 190px
          background-color: lighten(#02315a, 50%)
          border-radius: 10px
    .Help, .passchange
      margin-top: 25px
      font-size: 12px
    .Help
      margin-left: 50px
    .passchange

.LangPaper
  width: 300px
  background: lighten(#02315a, 50%)

.LangMenu
  display: flex
  align-items: center
  .LangMenuItem
    width: 300px
    text-align: center

<<<<<<< HEAD
.login-section
  .login-form
    .id
    .pwd
  .login-toggle
  .login-button
=======
.biat-logo
  height: 47px
  width: 47px
  border: solid 1px white
  img
    max-width: 100%

.swipe-menu
  //background: salmon
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 20px
  z-index: 9999


.a, .b, .c
  height: 50px
.a
  background: cornflowerblue
.b
  background: salmon
.c
  background: gray
>>>>>>> fb56d44733715d0a6bdded4e39b1d43e5ae6d8e9
