.ras
  background: pink
  height: 100px
  display: flex
  justify-content: center
  align-items: center
  .mabldouuu
    height: 50px
    width: 50px

.badnou
  height: 300px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  .dovbadnou
    height: 21px
    width: 100%

    .mabldouuu2

    .mabldouuu2.1
.segin
  height: 100px
  .mabldouuu3
